.Productlist {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 50%;
  height: 80vh;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
}

.itemRows {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 2px solid black;
  background-color: green;
  
}

.itemRowsList {
  margin-right: 80px;
}