.Productlist {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 90vh;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;

}

.itemRows {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 2px solid black;

  
}

.itemRowsList {
  margin-right: 80px;
}